body {
    margin: 0;
    padding: 0;
  }
  
.container {
    display: grid;
    grid-template: 0.2fr 0.2fr 3fr 3fr / 0.5fr 3fr 0.9fr;
    background-color: #cbd4df;
  }
  
.container div {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
  }

.sidebar {
    background-color: rgb(32, 135, 253);
    grid-row: 1 / 5;
    color: white;
    padding: 20px;
    border-right: solid 1px rgb(148, 147, 147);
  }

h2 {
    font-size: 28px;
}

.dash {
   display: flex;
   font-size: 1em;
   align-items: center;
  }

.dash img {
    width: 1.5em;
    height: 1.5em;
  }

.side_options li {
   font-size: 0.7em; 
   padding-left: 15px;
  }
  
.search {
    background-color: white;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
  }

input {
    flex: 1;
    margin: 0 80px 0 10px;
    border: none;
    border-radius: 1em;
    background-color: #cbd4df;
    padding: 0.5em;
  }

.search_left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    max-width: 600px;
}

.search_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search p {
    font-size: 0.7em;
  }
  
.name_row {
    background-color: white;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

.left_name {
    display: flex;
    align-items: center;
    gap: 15px;
  }

.right_name {
    display: flex;
    gap: 30px;
}

.name_call p, h3{
    color: black;
    margin: 0;
  }

button {
    background-color: rgb(32, 135, 253);
    color: white;
    height: 2.5em;
    width: 5em;
    border: none;
    border-radius: 1.5em;
  }
  
.project_container {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    padding: 0 20px 20px 20px;
    grid-row: 3 / 5;
}
  
.projects {
    background-color: #cbd4df;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    grid-column: 2 /3;
    grid-row: 3 / 5;
  }
  
.projects p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
.projects .card {
    background-color: white;
    text-align: center;
    height: 210px;
    padding: 10px 25px 15px 25px;
    border-radius: 0.4em;
    margin-right: 5px;
  }

.card {
    box-shadow: inset 9px 0  rgb(231, 184, 130), 2px 2px 4px 2px rgba(143, 142, 142, 0.377);
    display: flex;
    flex-direction: column;
}
  
.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
.card .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

.card_icons {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 30px;
}

h4 {
    margin: 0;
    padding: 30px 0 10px 0;
}

h5 {
    font-size: 0.6em;
  }

.announcements {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  }

.announce_container {
    background-color: white;
    padding: 10px 25px 15px 25px;
    border-radius: 0.4em;
    margin-right: 20px;
}

.news p {
    font-size: 12px;
    color: rgb(110, 110, 110);
}
  
#news_middle {
    border: 2px #cbd4df;
    border-style: solid none;
}

.trending {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  
.trending p {
    font-size: 13px;
    font-weight: normal;  
  }

.users {
    background-color: white;
    padding: 10px 25px 15px 25px;
    border-radius: 0.4em;
    margin-right: 20px;
  }

.user p {
    margin: 0;
    color: rgb(110, 110, 110);
}

#atuser {
    font-weight: bold;
    color: black;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0 20px 0;
}