body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template: 0.5fr 0.5fr 3fr 3fr / 0.8fr 3fr 1fr;
    background-color: #bccbde;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }

  .sidebar {
    background-color: rgb(32, 135, 253);
    grid-row: 1 / 5;
  }

  .dash {
   display: flex;
   font-size: 1em;
   align-items: center;
  }

  .dash img {
    width: 1.5em;
    height: 1.5em;
  }

  .side_options li {
   font-size: 0.7em; 
   padding-left: 15px;
  }
  
  .search {
    background-color: white;
    grid-column: 2 / 4;
    display: flex;
    
    align-items: center;
  }

  input {
    flex: 1;
  }

  .search p {
    color: black;
    font-size: 0.7em;
  }
  
  .name_row {
    background-color: white;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
  }

  .left_name {
    display: flex;
    align-items: center;
  }

  .name_call p, h3{
    color: black;
    margin: 0;
  }

  button {
    background-color: rgb(32, 135, 253);
    color: white;
    height: 2.5em;
    width: 5em;
    border: none;
    border-radius: 1.5em;
  }
  
  
  .projects {
    background-color: #bccbde;
    display: grid;
    grid-column: 2 /3;
    grid-row: 3 / 5;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .projects p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .projects .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

  .announcements {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
  .trending {
    background-color: #393f4d;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  
  .trending p {
    font-size: 13px;
    font-weight: normal;  
  }